/*-- scss:defaults --*/

$primary: #5E4FA2 !default;
$font-size-root: 18px !default;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

figure.quarto-float div.leaflet-control {
  text-align: left;
}

.pkg {
  padding: 0 2px;
  margin: 0 1px;
  border: 1px solid #7c9393;
  box-shadow: 2px 2px 0px 0px rgba(124,147,147,1);
}

.pkg a:hover, .pkg a:focus {
  border: none;
  padding: 0 2px !important;
}